
/* Reset Rules */

img{
    max-width: 100%;
}

ul,
ol{
    list-style: none;
    margin-bottom: 0;
}

.row [class^="col"] {
    padding: 0;
}

a{
    color: currentColor;
}

p{
    margin-bottom: 0;
}

/* DEBUG RULES */
/* .debug .app{
    border: 2px solid black;
    background-color: white;
} */

/* .debug .col-4,
.debug .col-8{
    border: 2px solid blue;
} */

/* Background App Rules */
.body-bg{
    display: flex;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 0 15%,
        #D7DBD6 15% 100%
    );
}

/* App Rules Layout */
.container.app{
    margin: 26px auto 24px;
}

.row{
    height: 100%;
}

/* Colonna Sinistra App */

.left-column{
    border-right: 1px solid #D6D6D6;
}

.app-user{
    height: 75px;
    background-color: #EAEAEA;
}

.app-notification{
    height: 75px;
    background-color: #8EDAFC;
    padding: 0 10px;
}

.app-search{
    height: 52px;
    background-color: #EAEAEA;
    padding: 10px;
}

.app-chat{
    background-color: rgb(26, 104, 124);
}

/* App user */
.app-user_img{
    width: 52px;
    display: block;
    margin-left: 10px;
}

.app-user_options{
    color: #B1B1B1;
    padding: 0 20px;
}

.app-user_options li{   
    margin: 0 10px;
}


/* App notification */
.notification-icone-bg{
    background-color: white;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
    border-radius: 100%;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-icone-bg .notification-icone{
    font-size: 20px;
    color: #8EDAFC;
}

/* App search */


/* Colonna Destra App */

.app-user_chat{
    height: 75px;
    background-color: #EAEAEA;
}

.app-chat_message{
    background-color: rgb(124, 80, 26);
}

.app-message-input{
    height: 73px;
    background-color: rgb(26, 104, 124);
}