
/* Reset Rules */

img{
    max-width: 100%;
}

/* DEBUG RULES */
.debug .app{
    border: 2px solid black;
    background-color: white;
}

.debug .col-4,
.debug .col-8{
    border: 2px solid blue;
}

/* Background App Rules */
.body-bg{
    display: flex;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 0 15%,
        #D7DBD6 15% 100%
    );
}

/* App Rules Layout */
.container.app{
    margin: 26px auto 24px;
}

.row{
    height: 100%;
}

/* Colonna Sinistra App */

.app-user{
    height: 75px;
    background-color: #009688;
}

.app-notification{
    height: 75px;
    background-color: bisque;
}

.app-search{
    height: 52px;
    background-color: rgb(124, 80, 26);
}

.app-chat{
    background-color: rgb(26, 104, 124);
}
