<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoolZapp</title>
    <script src="https://kit.fontawesome.com/913f8a24a8.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body class="debug">
    
    <div id="app" class="app-bg">
        <div class="app container overflow-hidden">
            <div class="row">
    
                <!-- colonna sinistra -->
                <div class="col-4 d-flex flex-column left-column">
    
                    <!-- app-user -->
                    <div class="app-user d-flex justify-content-between align-items-center flex-shrink-0">
    
                        <div class="d-flex align-items-center">
    
                            <img class="app-user_img" src="./img/woman-2.png" alt="img user">
                            <div class="ps-2">
                                <h3 class="user-name">Sofia</h3>
                            </div>
    
                        </div>
    
                        <div class="app-user_options">
    
                            <ul class="d-flex align-items-center">
                                <li><a href="#"><i class="fa-solid fa-circle-notch"></i></a></li>
                                <li><a href="#"><i class="fa-solid fa-message"></i></a></li>
                                <li><a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a></li>
                            </ul>
                            
                        </div>
    
                    </div>
    
                    <!-- app-notification -->
                    <div class="app-notification d-flex align-items-center flex-shrink-0">
    
                        <div class="notification-icone-bg">
                            <i class="notification-icone fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="ps-2">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                        
    
                    </div>
    
                    <!-- app-search -->
                    <div class="app-search flex-shrink-0">
                        <form class="w-100">
                            <div class="input-group search-form">
                              <span class="input-group-text search-form" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                              <input type="text" class="form-control search-form" placeholder="Cerca o inizia una nuova chat" aria-label="Search">
                            </div>
                        </form>
                    </div>
    
                    <!-- app-chat -->
                    <div class="app-chat flex-grow-1 overflow-y-scroll">
                        
                        <ul class="app-chat-list">
                            <!-- App chat Card -->
                            <li class="app-chat-card d-flex justify-content-between" 
                                v-for="(contatto, indice) in contacts" 
                                @click="setCurrentContact(indice)"
                                :class="indice === currentContact ? 'active' : '' ">
        
                                <div class="d-flex justify-content-between align-items-center">
                                    <img class="app-user_img" :src="contatto.avatar" alt="img user friend">
                                    <div class="ps-2">
                                        <h3 class="user-name">{{contatto.name}}</h3>
                                        <p class="last-message">Ultimo messaggio inviato</p>
                                    </div>
                                </div>
                            
                                <p class="message-time">12:00</p>
        
                            </li>
                        </ul>
                        
    
                        
                    </div>
                </div>
    
                <!-- colonna destra -->
                <div class="col-8 d-flex flex-column right-column">
    
                    <!-- app-user_chat -->
                    <div class="app-user_chat d-flex justify-content-between align-items-center flex-shrink-0">
    
                        <div class="d-flex align-items-center">
    
                            <img class="app-user_img" :src="contacts[currentContact].avatar" alt="img user friend">
                            <div class="ps-2">
                                <h3 class="user-name">{{contacts[currentContact].name}}</h3>
                                <p class="message-time">Ultimo accesso oggi alle 12:00</p>
                            </div>
    
                        </div>
    
                        <div class="app-user_options">
    
                            <ul class="d-flex align-items-center">
                                <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                                <li><a href="#"><i class="fa-solid fa-paperclip"></i></a></li>
                                <li><a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a></li>
                            </ul>
                            
                        </div>
    
                    </div>
    
                    <!-- app-chat_message -->
                    <div class="app-chat_message flex-grow-1 overflow-y-scroll">
    
                        <!-- message -->
                        <div  v-for="messaggio in contacts[currentContact].messages">

                                
                            <!-- message send -->
                            <div class="col-5 offset-7 message-send" v-if="messaggio.status === 'sent'">
        
                                <p>{{messaggio.message}}</p> 
        
                                <p class="message-time d-flex justify-content-end">{{messaggio.date}}</p>
        
                            </div>
                            
                            <!-- message received -->
                            <div class="col-5 message-received" v-if="messaggio.status === 'received'">
        
                                <p>{{messaggio.message}}</p> 
        
                                <p class="message-time d-flex justify-content-end">{{messaggio.date}}</p>
        
                            </div>
    
                        </div>
    
                    </div>
    
                    <!-- app-message-input -->
                    <div class="app-message-input d-flex justify-content-between align-items-center">
    
                        <a href="#">
                            <i class="app-message-input_icon fa-regular fa-face-smile"></i>
                        </a>
    
    
                        <div class="input-group search-form input-bar">
                            <input 
                                type="text" 
                                class="form-control search-form" 
                                placeholder="Scrivi un messaggio" 
                                aria-label="Search"
                                v-model="inputNewMessage"
                                @keydown.enter="sendMessage"
                            >
                        </div>
    
    
                        <a href="#">
                            <i class="app-message-input_icon fa-solid fa-microphone"></i>
                        </a>
    
                    </div>
                </div>
    
            </div>
            
    
        </div>
    </div>
    

    <script src="./js/app.js"></script>
</body>
</html>